body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 245, 245);
}

.header_container {
    display: flex;
    background-color: white;
    height: 3em;
    box-shadow: 1px 1px 1px #999797;
}